In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
expcheb = pd.read_excel("settlments/expcheb.xlsx")

In [3]:
expcheb.head(2)

,sName,sSymbol,eligble voters,voters,droped,valid,‬אמת‭,‬ג‭,‬דעם‭,‬ום‭,...,‬צק‭,‬ץ‭,‬ץז‭,‬ץי‭,‬ק‭,‬קי‭,‬קן‭,‬קף‭,‬ר‭,‬שס
0,תירוש‭,‬10,333,237,2,235,4,3,0,0,...,0,0,0,0,0,0,0,0,0,73
1,מבשרת‭ ‬ציון‭,‬1015,18871,13883,37,13846,1000,81,3,23,...,3,0,0,2,15,5,3,0,0,457

In [4]:
expcheb.columns

Index(['sName', 'sSymbol', 'eligble voters', 'voters', 'droped', 'valid',
       '‬אמת‭', '‬ג‭', '‬דעם‭', '‬ום‭', '‬ז‭', '‬זי‭', '‬זך‭', '‬זנ‭', '‬זץ‭',
       '‬טב‭', '‬י‭', '‬יז‭', '‬ין‭', '‬יץ‭', '‬כ‭', '‬ךק‭', '‬ל‭', '‬מחל‭',
       '‬מרצ‭', '‬נ‭', '‬נז‭', '‬נך‭', '‬נץ‭', '‬נר‭', '‬ן‭', '‬ןך‭', '‬ןנ‭',
       '‬פה‭', '‬ףז‭', '‬ףי‭', '‬ףך‭', '‬ףנ‭', '‬ףץ‭', '‬צק‭', '‬ץ‭', '‬ץז‭',
       '‬ץי‭', '‬ק‭', '‬קי‭', '‬קן‭', '‬קף‭', '‬ר‭', '‬שס'],
      dtype='object')

In [5]:
len(expcheb.columns)

49

In [6]:
expcheb3 = pd.read_excel("settlments/expc-3heb.xlsx")

In [7]:
expcheb3.head(2)

,sName,sSymbol,eligble voters,voters,droped,valid,‬אמת‭,‬ג‭,‬ודעם‭,‬ז‭,...,‬נק‭,‬פה‭,‬ףז‭,‬ץ‭,‬ק‭,‬קי‭,‬קך‭,‬קץ‭,‬שס‭,‬
0,‬אבו‭ ‬גווייעד‭ ‬שבט‭,‬967,2018,595,6,589,13,0,554,0,...,0,8,2,0,0,0,0,2,2‭,‬
1,‬אבו‭ ‬גוש‭,‬472,4821,2718,36,2682,75,4,2157,0,...,2,123,0,2,0,0,1,4,14‭,‬

In [8]:
expcheb3.columns

Index(['sName', 'sSymbol', 'eligble voters', 'voters', 'droped', 'valid',
       '‬אמת‭', '‬ג‭', '‬ודעם‭', '‬ז‭', '‬זך‭', '‬זץ‭', '‬טב‭', '‬י‭', '‬יז‭',
       '‬ינ‭', '‬יף‭', '‬יק‭', '‬יר‭', '‬כ‭', '‬כן‭', '‬ל‭', '‬מחל‭', '‬נ‭',
       '‬נז‭', '‬ני‭', '‬נץ‭', '‬נק‭', '‬פה‭', '‬ףז‭', '‬ץ‭', '‬ק‭', '‬קי‭',
       '‬קך‭', '‬קץ‭', '‬שס‭', '‬'],
      dtype='object')

In [9]:
len(expcheb3.columns)

37

In [10]:
expcheb2 = pd.read_excel("settlments/expc-2heb.xlsx")

In [11]:
expcheb2.head(2)

,sName,sSymbol,eligble voters,voters,droped,valid,‬אמת‭,‬ג‭,‬ודעם‭,‬ז‭,...,‬פה‭,‬ףז‭,‬צ‭,‬צן‭,‬ץ‭,‬ק‭,‬קך‭,‬קץ‭,‬רק‭,‬שס
0,‬שחר‭,‬7,517,377,0,377,31,8,0,0,...,98,0,0,0,0,0,0,0,0,39
1,‬תירוש‭,‬10,332,245,0,245,1,4,0,1,...,6,0,0,0,0,0,0,0,0,104

In [12]:
expcheb2.columns

Index(['sName', 'sSymbol', 'eligble voters', 'voters', 'droped', 'valid',
       '‬אמת‭', '‬ג‭', '‬ודעם‭', '‬ז‭', '‬זכ‭', '‬זן‭', '‬זץ‭', '‬טב‭', '‬י‭',
       '‬יז‭', '‬ינ‭', '‬יף‭', '‬יק‭', '‬כ‭', '‬כי‭', '‬כף‭', '‬ל‭', '‬מחל‭',
       '‬מרצ‭', '‬נ‭', '‬נך‭', '‬נץ‭', '‬פה‭', '‬ףז‭', '‬צ‭', '‬צן‭', '‬ץ‭',
       '‬ק‭', '‬קך‭', '‬קץ‭', '‬רק‭', '‬שס'],
      dtype='object')

In [13]:
len(expcheb2.columns)

38

In [14]:
cols = [col.replace("\u202c","").replace("\u202d","") for col in expcheb.columns]
expcheb.columns = cols
cols = [col.replace("\u202c","").replace("\u202d","") for col in expcheb2.columns]
expcheb2.columns = cols
cols = [col.replace("\u202c","").replace("\u202d","") for col in expcheb3.columns]
expcheb3.columns = cols

expcheb = expcheb.drop("זך",axis=1)
expcheb = expcheb.drop("י",axis=1)
expcheb = expcheb.drop("נץ",axis=1)

symbols_col = [int(cell.replace("\u202c","").replace("\u202d","")) for cell in expcheb["sSymbol"]]
expcheb["sSymbol"] = symbols_col
symbols_col = [int(cell.replace("\u202c","").replace("\u202d","")) for cell in expcheb2["sSymbol"]]
expcheb2["sSymbol"] = symbols_col
symbols_col = [int(cell.replace("\u202c","").replace("\u202d","")) for cell in expcheb3["sSymbol"]]
expcheb3["sSymbol"] = symbols_col

In [15]:
columnsSet = set(expcheb.columns[6:])
columnsSet.update(expcheb2.columns[6:])
columnsSet.update(expcheb3.columns[6:])

In [16]:
columnsSet.remove('')

In [17]:
columnsSet

{'אמת',
 'ג',
 'דעם',
 'ודעם',
 'ום',
 'ז',
 'זי',
 'זך',
 'זכ',
 'זן',
 'זנ',
 'זץ',
 'טב',
 'י',
 'יז',
 'ין',
 'ינ',
 'יף',
 'יץ',
 'יק',
 'יר',
 'ךק',
 'כ',
 'כי',
 'כן',
 'כף',
 'ל',
 'מחל',
 'מרצ',
 'ן',
 'ןך',
 'ןנ',
 'נ',
 'נז',
 'ני',
 'נך',
 'נץ',
 'נק',
 'נר',
 'ףז',
 'ףי',
 'ףך',
 'ףנ',
 'ףץ',
 'פה',
 'ץ',
 'ץז',
 'ץי',
 'צ',
 'צן',
 'צק',
 'ק',
 'קי',
 'קך',
 'קן',
 'קף',
 'קץ',
 'ר',
 'רק',
 'שס'}

In [18]:
lbl2vword = dict()
word2lbl = dict()

for v, k in enumerate(columnsSet,1):
    if k != '':
        lbl2vword[v]= k
        word2lbl[k]= v

In [19]:
expcheb.rename(columns=word2lbl, inplace=True)
expcheb2.rename(columns=word2lbl, inplace=True)
expcheb3.rename(columns=word2lbl, inplace=True)

In [20]:
expcheb.head(2)

,sName,sSymbol,eligble voters,voters,droped,valid,17,1,48,55,...,12,51,21,2,28,15,50,52,38,46
0,תירוש‭,10,333,237,2,235,4,3,0,0,...,0,0,0,0,0,0,0,0,0,73
1,מבשרת‭ ‬ציון‭,1015,18871,13883,37,13846,1000,81,3,23,...,3,0,0,2,15,5,3,0,0,457

In [21]:
expcheb2.head(2)

,sName,sSymbol,eligble voters,voters,droped,valid,17,1,57,27,...,34,4,35,16,51,28,58,20,24,46
0,‬שחר‭,7,517,377,0,377,31,8,0,0,...,98,0,0,0,0,0,0,0,0,39
1,‬תירוש‭,10,332,245,0,245,1,4,0,1,...,6,0,0,0,0,0,0,0,0,104

In [22]:
expcheb3.head(2)

,sName,sSymbol,eligble voters,voters,droped,valid,17,1,57,27,...,25,34,4,51,28,15,58,20,46,
0,‬אבו‭ ‬גווייעד‭ ‬שבט‭,967,2018,595,6,589,13,0,554,0,...,0,8,2,0,0,0,0,2,2‭,‬
1,‬אבו‭ ‬גוש‭,472,4821,2718,36,2682,75,4,2157,0,...,2,123,0,2,0,0,1,4,14‭,‬

In [23]:
mapper3 = dict()
mapper3[word2lbl["ינ"]] = [word2lbl["ין"]]
mapper3[word2lbl["נץ"]] = [word2lbl["כף"]]

In [24]:
mapper2 = dict()
mapper2[word2lbl["קץ"]] = [word2lbl["ני"]]
mapper2[word2lbl["י"]] = [word2lbl["יר"]]
mapper2[word2lbl["ץ"]] = [word2lbl["כן"]]
mapper2[word2lbl["נ"]] = [word2lbl["נק"]]
mapper2[word2lbl["אמת"]] = [word2lbl["אמת"], word2lbl["מרצ"]]

In [25]:
mapper = dict()
mapper[word2lbl["ןך"]] = [word2lbl["יף"]]
mapper[word2lbl["יז"]] = [word2lbl["יק"]]
mapper[word2lbl["ןנ"]] = [word2lbl["יר"]]
mapper[word2lbl["ז"]] = [word2lbl["זן"]]
mapper[word2lbl["אמת"]] = [word2lbl["אמת"], word2lbl["מרצ"], word2lbl["נר"]]
mapper[word2lbl["ודעם"]] = [word2lbl["דעם"], word2lbl["ום"]]
mapper

{3: [42], 56: [7], 54: [49], 27: [60], 17: [17, 26, 59], 57: [48, 55]}

In [26]:
def mutate_table(mapper, table):
    for k,v in mapper.items():
        if(len(v) > 1):
            col = table[v[0]]
            for i in range(1,len(v)):
                col += table[v[i]]
            for item in v:
                table = table.drop(item,axis=1)
            
            table[k] = col
        else:
            table.rename(columns={k:v[0]}, inplace=True)
    return table

In [27]:
expcheb = mutate_table(mapper, expcheb)
expcheb.columns

Index([         'sName',        'sSymbol', 'eligble voters',         'voters',
               'droped',          'valid',                1,               60,
                     23,               19,               13,               36,
                      7,               18,               43,               53,
                     10,               47,               45,               30,
                      8,               40,                9,               42,
                     49,               34,                4,               44,
                     31,               33,               14,               12,
                     51,               21,                2,               28,
                     15,               50,               52,               38,
                     46,               17,               57],
      dtype='object')

In [28]:
expcheb2 = mutate_table(mapper2, expcheb2)
expcheb2.columns

Index([         'sName',        'sSymbol', 'eligble voters',         'voters',
               'droped',          'valid',                1,               57,
                     27,               32,               60,               13,
                     36,               49,               56,                5,
                     42,                7,               53,               39,
                     11,               47,               45,               25,
                     40,               29,               34,                4,
                     35,               16,                6,               28,
                     58,               41,               24,               46,
                     17],
      dtype='object')

In [29]:
expcheb3 = mutate_table(mapper3, expcheb3)
expcheb3.columns

Index([         'sName',        'sSymbol', 'eligble voters',         'voters',
               'droped',          'valid',               17,                1,
                     57,               27,               37,               13,
                     36,               22,               56,               18,
                     42,                7,               49,               53,
                      6,               47,               45,               30,
                      8,               41,               11,               25,
                     34,                4,               51,               28,
                     15,               58,               20,               46,
                     ''],
      dtype='object')

In [30]:
def handleValue(size, value):
    if value is not None:
        return value
    else:
        return [0]*size


table1 = dict()
table2 = dict()
table3 = dict()

for x in expcheb3.columns[:6]:
    table1[x] = handleValue(expcheb.shape[0], expcheb.get(x))
    table2[x] = handleValue(expcheb2.shape[0], expcheb2.get(x))
    table3[x] = handleValue(expcheb3.shape[0], expcheb3.get(x))

for x in lbl2vword.keys():
    table1[x] = handleValue(expcheb.shape[0], expcheb.get(x))
    table2[x] = handleValue(expcheb2.shape[0], expcheb2.get(x))
    table3[x] = handleValue(expcheb3.shape[0], expcheb3.get(x))

In [31]:
expcheb = pd.DataFrame(table1)
expcheb.head(2)

,sName,sSymbol,eligble voters,voters,droped,valid,1,2,3,4,...,51,52,53,54,55,56,57,58,59,60
0,תירוש‭,10,333,237,2,235,3,0,0,0,...,0,0,9,0,0,0,0,0,0,1
1,מבשרת‭ ‬ציון‭,1015,18871,13883,37,13846,81,2,0,2,...,0,0,557,0,0,0,26,0,0,299

In [32]:
expcheb2 = pd.DataFrame(table2)
expcheb2.head(2)

,sName,sSymbol,eligble voters,voters,droped,valid,1,2,3,4,...,51,52,53,54,55,56,57,58,59,60
0,‬שחר‭,7,517,377,0,377,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,‬תירוש‭,10,332,245,0,245,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
expcheb3 = pd.DataFrame(table3)
expcheb3.head(2)

,sName,sSymbol,eligble voters,voters,droped,valid,1,2,3,4,...,51,52,53,54,55,56,57,58,59,60
0,‬אבו‭ ‬גווייעד‭ ‬שבט‭,967,2018,595,6,589,0,0,0,2,...,0,0,0,0,0,1,554,0,0,0
1,‬אבו‭ ‬גוש‭,472,4821,2718,36,2682,4,0,0,0,...,2,0,0,0,0,0,2157,1,0,0

In [34]:
tb = pd.read_excel("bycode2018heb.xlsx")
tb = tb.fillna(0)

tb.head()

,sName,sSymbol,district,subdistrict,Natural area,Municipal status,Metropolitan affiliation,religion,Total Population 2018,Jews and others,...,Arabs,Founding year,Current type of locality,Organizational affiliation,Coordinates,height,Planning Commission,Police space,year,Cluster Local Authorities
0,Shahar,7,6,61,612.0,50.0,0.0,1.0,875.0,875.0,...,0.0,1955,310,1.0,1.739861e+09,83.0,634.0,10001813.0,2018,0.0
1,Tirosh,10,1,11,112.0,26.0,0.0,1.0,501.0,501.0,...,0.0,1955,310,2.0,1.892863e+09,130.0,151.0,15000597.0,2018,0.0
2,Nir Hen,11,6,61,612.0,50.0,0.0,1.0,552.0,552.0,...,0.0,1955,310,1.0,1.729761e+09,91.0,634.0,10001813.0,2018,0.0
3,Hazeva,13,6,62,625.0,54.0,0.0,1.0,605.0,595.0,...,10.0,1965,310,1.0,2.266752e+09,-160.0,657.0,10001918.0,2018,610.0
4,No'am,15,6,61,612.0,34.0,0.0,1.0,349.0,349.0,...,0.0,1955,310,2.0,1.799961e+09,148.0,631.0,10001813.0,2018,0.0

In [35]:
def attach_district(table, tb, colname):
    
    data = pd.DataFrame(columns=tb.columns)
    names = []
    for s in table[colname]:
        data = data.append(tb.loc[tb[colname] == s], ignore_index=True)
    
    
    print(len(data["sName"].values))
    
    names = data["sName"].values
    data = data.drop("sName", axis=1).drop("sSymbol", axis=1)
    return data, names

   
data, names = attach_district(expcheb, tb, "sSymbol")

expcheb = expcheb.join(data)
expcheb["sName"] = names
data, names = attach_district(expcheb2, tb, "sSymbol")
expcheb2 = expcheb2.join(data)
expcheb2["sName"] = names
data, names = attach_district(expcheb3, tb, "sSymbol")
expcheb3 = expcheb3.join(data)
expcheb3["sName"] = names

1212
1212
1212

In [36]:
print(len(expcheb3["sName"].values))

1212

In [37]:
expcheb3.head()

,sName,sSymbol,eligble voters,voters,droped,valid,1,2,3,4,...,Arabs,Founding year,Current type of locality,Organizational affiliation,Coordinates,height,Planning Commission,Police space,year,Cluster Local Authorities
0,Abu Juway'ad,967,2018,595,6,589,0,0,0,2,...,0.0,0,460,0.0,2.040057e+09,0.0,699.0,15003711.0,2018,0.0
1,Abu Ghosh,472,4821,2718,36,2682,4,0,0,0,...,7446.0,0,280,0.0,2.105263e+09,598.0,152.0,10002475.0,2018,0.0
2,Abu Sinan,473,9422,6090,53,6037,6,0,0,0,...,13887.0,0,270,0.0,2.160776e+09,19.0,252.0,10004315.0,2018,0.0
3,Abu 'Abdun,958,142,41,1,40,0,0,0,0,...,0.0,0,460,0.0,1.850058e+09,0.0,699.0,10001937.0,2018,0.0
4,Abu Kuraynat,968,3037,1336,8,1328,0,0,0,0,...,0.0,0,460,0.0,1.970056e+09,0.0,699.0,15003711.0,2018,0.0

In [38]:
def remove_unicode_chars(columns):
    cols = []
    for col in columns:
        if isinstance(col, str):
            cols.append(col.replace("\u202c","").replace("\u202d",""))
        else:
            cols.append(col)
    
    return cols


expcheb.columns = remove_unicode_chars(expcheb.columns)
expcheb2.columns = remove_unicode_chars(expcheb2.columns)
expcheb3.columns = remove_unicode_chars(expcheb3.columns)

In [39]:
expcheb3[word2lbl["שס"]] = [int(v.replace("\u202c","").replace("\u202d","")) for v in expcheb3[word2lbl["שס"]].values]

In [40]:
expcheb3.to_csv("expcheb3.csv", index=False)
expcheb2.to_csv("expcheb2.csv", index=False)
expcheb.to_csv("expcheb.csv", index=False)

In [41]:
def save_to_disk(name, model):
    # convert tree to jason
    with open(name, "w") as f:
        json_text = json.dumps(model)
        f.write(json_text)

save_to_disk("lbl2word.json", lbl2vword)
save_to_disk("word2lbl.json", word2lbl)

In [42]:
symbol2name = {}
name2symbol = {}
for name, symb in zip(tb["sName"],tb["sSymbol"]):
    symbol2name[symb] = name
    name2symbol[name] = symb
    
save_to_disk("symbol2name.json", symbol2name)
save_to_disk("name2symbol.json", name2symbol)